@page "/categories"
@page "/categories/{PopupDisplay}"

@inherits DataHandlingController<Category>

<aside class='@(this.ItemList == null ? "loading" : "")'>
    @if (this.ItemList != null)
    {
        <TreeLevel Items="@(this.ItemList.ToEntities<Category>())" Root="@null" Filter="@((e, r) => (e as Category).ParentCategory == null && r == null || (e as Category).ParentCategory?.Id == r?.Id)" />
    }
    <AuthorizedView NeededRolesOR="@Permissions.EditLocations">
        <NavLink class="addlink" href="@($"/{this.BaseLink}/add")">Új @this.DataName</NavLink>
    </AuthorizedView>
</aside>

<main class='@(this.ItemList == null ? "loading" : "")'>
    @if (this.ItemList != null)
    {
        <div id='table-wrapper'>
            <table id='table-header'>
                <thead>
                    <tr>
                        <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Hely</DataGridHeader>
                    </tr>
                </thead>
            </table>

            <table id='data' class="display nowrap">
                <thead>
                    <tr>
                        <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Hely</DataGridHeader>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Category category in this.ItemList)
                    {
                        <tr>
                            <td><NavLink href="@($"/{this.BaseLink}/{category.Id}")">@category.Name</NavLink></td>
                            <td>@(category.ParentCategory != null ? category.ParentCategory.Name : "-")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</main>

@if (this.SelectedItem != null)
{
    <section class='popup' id='content'>
        <div class='shadow'></div>
        <div class='body'>
            <NavLink href="@($"/{this.BaseLink}")" class='close'></NavLink>
            <EditForm method="post" EditContext="new EditContext(true)" OnSubmit="OnDefaultAddEditSubmit">
                <h3>@this.PopupTitle</h3>
                <div class='dynamic'>
                    <SimpleTextField AuthOR="@Permissions.EditLocations" Type="text" Display="Név" Name="@nameof(Category.Name)" @bind-Value="this.SelectedItem.Temporal.Name" />
                    <ComboBox        AuthOR="@Permissions.EditLocations" ItemType="@Category" Items="@(this.ItemList.ToEntities<Category>())" Owner="this.SelectedItem.Temporal" Name="@nameof(Category.ParentCategory)" Display="Hely" @bind-Value="this.SelectedItem.Temporal.ParentCategory" />
                </div>
                <AuthorizedView NeededRolesOR="@Permissions.EditLocations">
                    <button type='submit'>Küldés</button>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.DeleteLocations">
                    <input type='button' class="delete" value="Törlés" @onclick="OnDefaultDeleteSubmit" />
                </AuthorizedView>
            </EditForm>
        </div>
        @if (this.DialogLoading)
        {
            <div class='loading'> </div>
        }
    </section>
}


@code
{
    protected override string BaseLink { get; set; } = "categories";
    protected override string DataName { get; set; } = "kategória";
}
