@page "/"

@using System.Net;
@using Microsoft.AspNetCore.Http;

<main class="full dashboard @(this.CurrentUser == null ? "loading" : "")">
    @if (this.CurrentUser != null)
    {
        <h1>Helló, @this.CurrentUser?.Name!</h1>

        <div class="grid">
            <section class="entry-item">
                <h2>Foglalkozás</h2>
                <NavLink href="/curriculum">
                    <i></i>
                    <p>Tananyagtár</p>
                </NavLink>
                <NavLink href="/kits">
                    <i></i>
                    <p>Kitek</p>
                </NavLink>
                <NavLink href="/member-projects">
                    <i></i>
                    <p>Projektek</p>
                </NavLink>
                <NavLink href="/calendar">
                    <i></i>
                    <p>Naptár</p>
                </NavLink>

                @if (this.CanAttend)
                {
                    <NavLink @onclick="OnLogAttenance">
                        <i></i>
                        <p>Megjöttem!</p>
                    </NavLink>
                }
            </section>

            <section class="entry-item">
                <h2>Adatkezelés</h2>
                <AuthorizedView NeededRolesOR="@Permissions.ListMembers">
                    <NavLink href="/members">
                        <i></i>
                        <p>Tagok</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.ListPayments">
                    <NavLink href="/payments">
                        <i></i>
                        <p>Befizetések</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.ListLocations">
                    <NavLink href="/locations">
                        <i></i>
                        <p>Helyek</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.ListCategories">
                    <NavLink href="/categories">
                        <i></i>
                        <p>Kategóriák</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.ListSuppliers">
                    <NavLink href="/suppliers">
                        <i></i>
                        <p>Beszállítók</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.ListParts">
                    <NavLink href="/parts">
                        <i></i>
                        <p>Alkatrészek</p>
                    </NavLink>
                </AuthorizedView>

            </section>

            <section class="entry-item">
                <h2>Felhőtároló</h2>
                <AuthorizedView NeededRolesOR="@Permissions.AccessOwnFileStorage">
                    <NavLink href="/files/own">
                        <i></i>
                        <p>Saját fájljaim</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.AccessSharedFileStorage">
                    <NavLink href="/files/shared">
                        <i></i>
                        <p>Közös fájlok</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.AccessSecretFileStorage">
                    <NavLink href="/files/secret">
                        <i></i>
                        <p>Titkos fájlok (BIZALMAS!)</p>
                    </NavLink>
                </AuthorizedView>
            </section>

            <section class="entry-item">
                <h2>Felügyelet</h2>
                <AuthorizedView NeededRolesOR="@Permissions.AccessSeurityCameras">
                    <NavLink href="/security-cameras">
                        <i></i>
                        <p>Kamerák</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="@Permissions.AccessOwnFileStorage">
                    <NavLink href="/network">
                        <i></i>
                        <p>Hálózat</p>
                    </NavLink>
                </AuthorizedView>

                <NavLink href="/statistics">
                    <i></i>
                    <p>Statisztika</p>
                </NavLink>
            </section>

            <section class="entry-item">
                <h2>Fejlesztői eszközök</h2>
                <NavLink href="/dev-ideas">
                    <i></i>
                    <p>Javaslatok</p>
                </NavLink>

                <AuthorizedView NeededRolesOR="@Permissions.Overlord">
                    <NavLink href="/test-auth">
                        <i></i>
                        <p>Tesztek</p>
                    </NavLink>
                    <NavLink href="/scheduled-tasks">
                        <i></i>
                        <p>Időzítések</p>
                    </NavLink>
                </AuthorizedView>
            </section>
        </div>
    }
</main>

@code
{
    [Inject]
    private IJSRuntime JS { get; set; }

    [Inject]
    public IAuthProvider AuthProvider { get; set; }

    [Inject]
    public IAuthUnitProvider UnitProvider { get; set; }

    [Inject]
    protected IHttpContextAccessor Http { get; set; }


    public Member CurrentUser { get; set; }

    public bool CanAttend
    {
        get
        {
            bool b1 = !this.CurrentUser.Attendances.Exists(a => a.Occasion.Date == DateTime.Today);
            bool b2 = this.Http.HttpContext.Connection.RemoteIpAddress.ToString() == GanzAdmin.Configuration.GanzAdminConfiguration.Instance.MyIP;

            return b1 && b2;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        this.CurrentUser = this.UnitProvider.ProvideAuthUnit(this.AuthProvider.CurrentSession.MemberId) as Member;
    }

    private void OnLogAttenance()
    {
        GanzAdminDbFunctions.LogAttendance(this.CurrentUser, DateTime.Today);
        this.JS.InvokeVoidAsync("alertify.success", "Jelenléti ív frissítve!");
    }
}