@page "/locations"
@page "/locations/{PopupDisplay}"

@inherits DataHandlingController<Location>

<AuthorizedView NeededRolesOR="@Permissions.ListLocations">
    <aside class='@(this.ItemList == null ? "loading" : "")'>
        @if (this.ItemList != null)
        {
            <TreeLevel Items="@(this.ItemList.ToEntities<Location>())"
                       Root="@null"
                       Filter="@((e, r) => (e as Location).ParentLocation == null && r == null || (e as Location).ParentLocation?.Id == r?.Id)"
                       UrlTemplate="@((e) => $"/{this.BaseLink}/{e.Id}")" />
        }
        <AuthorizedView NeededRolesOR="@Permissions.EditLocations">
            <NavLink class="addlink" href="@($"/{this.BaseLink}/add")">Új @this.DataName</NavLink>
        </AuthorizedView>
    </aside>

    <main class='@(this.ItemList == null ? "loading" : "")'>
        @if (this.ItemList != null)
        {
            <div id='table-wrapper'>
                <table id='data' class="display nowrap">
                    <thead>
                        <tr>
                            <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                            <DataGridHeader IsCollapsible IsSortable>Hely</DataGridHeader>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Location item in this.ItemList)
                        {
                            <tr>
                                <td><NavLink href="@($"/{this.BaseLink}/{item.Id}")">@item.Name</NavLink></td>
                                <td>@(item.ParentLocation != null ? item.ParentLocation.Name : "-")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </main>

    @if (this.SelectedItem != null)
    {
        <section class='popup' id='content'>
            <div class='shadow'></div>
            <div class='body'>
                <div class='header'>
                    <h2>@this.PopupTitle</h2>
                    <a class='button' href="@($"/{this.BaseLink}")"></a>
                </div>

                <EditForm method="post" EditContext="new EditContext(true)" OnSubmit="OnDefaultAddEditSubmit">
                    <div class='dynamic'>
                        <SimpleTextField AuthOR="@Permissions.EditLocations" Type="text" Display="Név" Name="@nameof(Location.Name)" @bind-Value="this.SelectedItem.Temporal.Name" />
                        <ComboBox AuthOR="@Permissions.EditLocations" ItemType="@Location" Items="@this.ItemList" Owner="this.SelectedItem.Temporal" Name="@nameof(Location.ParentLocation)" Display="Hely" @bind-Value="this.SelectedItem.Temporal.ParentLocation" />
                        <SimpleCheckField AuthOR="@Permissions.EditLocations"
                                          Type="switch"
                                          Display="Virtuális"
                                          Name="virtual"
                                          TrueValue="Igen"
                                          FalseValue="Nem"
                                          @bind-Value="this.SelectedItem.Temporal.IsVirtual" />
                    </div>
                    <AuthorizedView NeededRolesOR="@Permissions.EditLocations">
                        <button type='submit'>Küldés</button>
                    </AuthorizedView>
                    @if (this.PopupDisplay != "add")
                    {
                        <AuthorizedView NeededRolesOR="@Permissions.DeleteLocations">
                            <input type='button' class="delete" value="Törlés" @onclick="OnDefaultDeleteSubmit" />
                        </AuthorizedView>
                    }
                </EditForm>
            </div>
            @if (this.DialogLoading)
            {
                <div class='loading'> </div>
            }
        </section>
    }
</AuthorizedView>

@code
{
    protected override string BaseLink { get; set; } = "locations";
    protected override string DataName { get; set; } = "hely";
}
