@page "/me"
@page "/members"
@page "/members/{PopupDisplay}"

@inherits DataHandlingController<Member>

<aside class='loading'>
    <AuthorizedView NeededRolesOR="@Permissions.EditMembers">
        <NavLink class="addlink" href="@($"/{this.BaseLink}/add")">Új @this.DataName</NavLink>
    </AuthorizedView>
</aside>

<main class='@(this.ItemList == null ? "loading" : "")'>
    @if (this.ItemList != null)
    {
        <div id='table-wrapper'>
            <table id='table-header'>
                <thead>
                    <tr>
                        <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Aktív?</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Tagdíj befizetve</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Foglalkozásra bejegyzés</DataGridHeader>
                    </tr>
                </thead>
            </table>

            <table id='data' class="display nowrap">
                <thead>
                    <tr>
                        <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Aktív?</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Tagdíj befizetve</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Foglalkozásra bejegyzés</DataGridHeader>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Member member in this.ItemList)
                    {
                        <tr>
                            <td><NavLink href="@($"/{this.BaseLink}/{member.Id}")">@member.Name</NavLink></td>
                            <td>@(member.Active ? "Igen" : "Nem")</td>
                            <td>@member.PaidUntil</td>
                            <td>
                                <AuthorizedView NeededRolesOR="@Permissions.EditParts">
                                    @if (!member.Attendances.Exists(a => a.Occasion.Date == DateTime.Today))
                                    {
                                        <a @onclick="() => this.OnLogAttenance(member)">Jelenléti ív kitöltés</a>
                                    }
                                </AuthorizedView>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</main>

@if (this.SelectedItem != null)
{
    <section class='popup' id='content'>
        <div class='shadow'></div>
        <div class='body'>
            <div class='header'>
                <h2>@this.PopupTitle</h2>
                <a class='button' href="@($"/{this.BaseLink}")"></a>
            </div>

            <EditForm method="post" EditContext="new EditContext(true)" OnValidSubmit="OnDefaultAddEditSubmit">
                <div class='dynamic'>
                    <SimpleTextField AuthOR="@Permissions.EditMembers" Type="text" Display="Név" Name="@nameof(Member.Name)" @bind-Value="this.SelectedItem.Temporal.Name" />
                    <SimpleTextField AuthOR="@Permissions.EditMembers" Type="text" Display="Cím" Name="@nameof(Member.Address)" @bind-Value="this.SelectedItem.Temporal.Address" />
                    <SimpleTextField AuthOR="@Permissions.EditMembers" Type="text" Display="Telefon" Name="@nameof(Member.Phone)" @bind-Value="this.SelectedItem.Temporal.Phone" />
                    <SimpleTextField AuthOR="@Permissions.EditMembers" Type="text" Display="Email" Name="@nameof(Member.Email)" @bind-Value="this.SelectedItem.Temporal.Email" />

                    <SimpleDateField AuthOR="@Permissions.EditMembers" Type="text" Display="Tagdíj befizetve" Name="@nameof(Member.PaidUntil)" @bind-Value="this.SelectedItem.Temporal.PaidUntil" />
                    <SimpleCheckField AuthOR="@Permissions.EditMembers" Type="switch" Display="Aktív?" Name="@nameof(Member.Active)" @bind-Value="@this.SelectedItem.Temporal.Active" />


                    <SimpleTextField AuthOR="@Permissions.EditMembers" Type="text" Display="Felhasználónév" Name="@nameof(Member.Username)" @bind-Value="this.SelectedItem.Temporal.Username" />
                    <SimpleTextField AuthOR="@Permissions.EditMembers" Type="password" Display="Jelszó" Name="@nameof(Member.Password)" @bind-Value="this.Password" />

                    <div class="permissoins-container">
                        @foreach (string permission in Permissions.AllPermissions)
                        {
                            if (permission != null)
                            {
                                bool temp = this.SelectedItem.Temporal.Roles.Contains(permission);
                                <SimpleCheckField AuthAND="@($"{Permissions.EditParts} {permission}")"
                                                  Inline
                                                  Type="switch"
                                                  Display="@permission"
                                                  Name="@permission"
												  TrueValue="Igen"
												  False="Nem"
                                                  Value="@temp"
                                                  ValueChanged="@(e => this.EditPermission(permission, e))" />
                            }
                            else
                            {
                                <span></span>
                            }
                        }
                    </div>
                </div>
                <AuthorizedView NeededRolesOR="@Permissions.EditMembers">
                    <button type='submit'>Küldés</button>
                </AuthorizedView>
                @if (this.PopupDisplay != "add")
                {
                    <AuthorizedView NeededRolesOR="@Permissions.DeleteMembers">
                        <input type='button' class="delete" value="Törlés" @onclick="OnDefaultDeleteSubmit" />
                    </AuthorizedView>
                }
            </EditForm>
        </div>
        @if (this.DialogLoading)
        {
            <div class='loading'></div>
        }
    </section>
}


@code
{
    protected override string BaseLink { get; set; } = "members";
    protected override string DataName { get; set; } = "tag";

    private bool PasswordChanged { get; set; }

    private string Password
    {
        get { return this.m_Password; }
        set { this.m_Password = value; this.PasswordChanged = true; }
    }
    private string m_Password;


    protected override void BeforeAdd()
    {
        this.SelectedItem.Temporal.Password = GanzUtils.Sha256(this.Password);
    }

    protected override void BeforeEdit()
    {
        if(this.PasswordChanged)
        {
            this.SelectedItem.Temporal.Password = GanzUtils.Sha256(this.Password);
        }
        else
        {
            this.SelectedItem.Temporal.Password = this.SelectedItem.Original.Password;
        }
    }

    private void OnLogAttenance(Member member)
    {
        GanzAdminDbFunctions.LogAttendance(member, DateTime.Today);

        this.JS.InvokeVoidAsync("alertify.success", "Jelenléti ív frissítve!");
    }

    private void EditPermission(string permission, bool value)
    {
        if(value)
        {
            this.SelectedItem.Temporal.Roles.Add(permission);
        }
        else
        {
            this.SelectedItem.Temporal.Roles.RemoveAll(i => i == permission);
        }
    }
}
