@page "/members"
@page "/members/{PopupDisplay}"

@using GanzAdmin.Authentication.Components;
@using GanzAdmin.Components.Edit;
@using GanzAdmin.Components.DataGrid;
@using GanzAdmin.Database;
@using GanzAdmin.Database.Models;

<aside class='loading'>
    <NavLink class="addlink" href="/members/add">Új tag</NavLink>
</aside>

<main class='@(this.MemberList == null ? "loading" : "")'>
    @if (this.MemberList != null)
    {
        <div id='table-wrapper'>
            <table id='table-header'>
                <thead>
                    <tr>
                        <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Aktív?</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Tagdíj befizetve</DataGridHeader>
                    </tr>
                </thead>
            </table>

            <table id='data' class="display nowrap">
                <thead>
                    <tr>
                        <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Aktív?</DataGridHeader>
                        <DataGridHeader IsCollapsible IsSortable>Tagdíj befizetve</DataGridHeader>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var member in this.MemberList)
                    {
                        <tr>
                            <td><NavLink href="@($"/members/{member.Id}")">@member.Name</NavLink></td>
                            <td>@member.Active</td>
                            <td>@member.PaidUntil</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</main>

@*Ki kéne még jelezni, hogy szerkesztünk vagy hozzáadunk...*@
@if (this.SelectedMember != null)
{
    <section class='popup' id='content'>
        <div class='shadow'></div>
        <div class='body'>
            <NavLink href="/members" class='close'></NavLink>
            <div class='dynamic'>
                <SimpleEditField Type="text" Display="Név" Name="@nameof(Member.Name)" @bind-Value="this.SelectedMember.Name" />
            </div>
            <AuthorizedView NeededRolesOR="TEEEST">
                <button>Küldés</button>
                <button>Mégse</button>
            </AuthorizedView>
        </div>
    </section>
}


@code
{
    [Parameter]
    public string PopupDisplay { get; set; }

    List<Member> MemberList { get; set; }

    Member SelectedMember { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            using (GanzAdminDbContext db = new GanzAdminDbContext())
            {
                this.MemberList = db.Members.FindAll().ToList();
            }
        });
    }

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(() =>
        {
            this.SelectedMember = null;

            if (this.PopupDisplay == "add")
            {
                this.SelectedMember = new Member();
            }
            else if (this.PopupDisplay != null)
            {
                int showId = 0;
                if (int.TryParse(this.PopupDisplay, out showId))
                {
                    this.SelectedMember = this.MemberList.FirstOrDefault(m => m.Id == showId);
                }
            }
        });
    }

    private void AddMember()
    {
        using (GanzAdminDbContext db = new GanzAdminDbContext())
        {
            db.Members.Insert(this.SelectedMember);
        }
    }

    private void ModifMember()
    {
        using (GanzAdminDbContext db = new GanzAdminDbContext())
        {
            db.Members.Update(this.SelectedMember);
        }
    }

    private void DeleteMember()
    {
        using (GanzAdminDbContext db = new GanzAdminDbContext())
        {
            db.Members.Delete(this.SelectedMember.Id);
        }
    }
}
