@page "/parts"
@page "/parts/{PopupDisplay}"

@inherits DataHandlingController<Part>

<aside class='@(this.ItemList == null ? "loading" : "")'>
    @if (this.ItemList != null)
    {
        <TreeLevel Items="@(this.ItemList.ToEntities<Part>())" Root="@null" Filter="@((e, r) => (e as Part).Category == null && r == null || (e as Part).Category?.Id == r?.Id)" />
    }
    <AuthorizedView NeededRolesOR="@Permissions.EditParts">
        <NavLink class="addlink" href="@($"/{this.BaseLink}/add")">Új @this.DataName</NavLink>
    </AuthorizedView>
</aside>

<main class='@(this.ItemList == null ? "loading" : "")'>
    @if (this.ItemList != null)
    {
        <div id='table-wrapper'>
            <table id='table-header'>
                <thead>
                    <tr>
                        <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                        <DataGridHeader IsPinnable IsSortable>Kategória</DataGridHeader>
                        <DataGridHeader IsPinnable IsSortable>Mennyiség</DataGridHeader>
                        <DataGridHeader IsPinnable IsSortable>Minimum raktári mennyiség</DataGridHeader>
                    </tr>
                </thead>
            </table>

            <table id='data' class="display nowrap">
                <thead>
                    <tr>
                        <DataGridHeader IsPinnable IsSortable>Név</DataGridHeader>
                        <DataGridHeader IsPinnable IsSortable>Kategória</DataGridHeader>
                        <DataGridHeader IsPinnable IsSortable>Mennyiség</DataGridHeader>
                        <DataGridHeader IsPinnable IsSortable>Minimum raktári mennyiség</DataGridHeader>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Part item in this.ItemList)
                    {
                    <tr>
                        <td>
                        <NavLink href="@($"/{this.BaseLink}/{item.Id}")">@item.Name</NavLink></td>
                        <td>@item.Category.Name</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</main>

@if (this.SelectedItem != null)
{
    <section class='popup' id='content'>
        <div class='shadow'></div>
        <div class='body'>
            <div class='header'>
                <h2>@this.PopupTitle</h2>
                <a class='button' href="@($"/{this.BaseLink}")"></a>
            </div>

            <EditForm method="post" EditContext="new EditContext(true)" OnSubmit="OnDefaultAddEditSubmit">
                <div class='dynamic'>
                    <SimpleTextField AuthOR="@Permissions.EditParts" Type="text" Display="Név" Name="@nameof(Part.Name)" @bind-Value="this.SelectedItem.Temporal.Name" />
                    <ComboBox AuthOR="@Permissions.EditParts" ItemType="@Category" Items="@GanzAdminDbEngine.Instance.Categories.FindAll()" Owner="this.SelectedItem.Temporal.Category" Name="@nameof(Part.Category)" Display="Kategória" @bind-Value="this.SelectedItem.Temporal.Category" Changed="CategoryChanged"/>
                    @*<SimpleTextField AuthOR="@Permissions.EditParts" Type="text" Display="Min. készlet" Name="@nameof(Part.MinimumStock)" @bind-Value="this.SelectedItem.Temporal.MinimumStock.ToString()" />*@

                    <span>Raktérkészlet</span>
                    @foreach (Stockpile stock in this.SelectedItem.Temporal.Stock)
                    {
                        <div>
                            <ComboBox AuthOR="@Permissions.EditParts" ItemType="@Location" Items="@GanzAdminDbEngine.Instance.Locations.FindAll()" Owner="stock.Location" Name="@nameof(Part.Category)" Display="Hely" @bind-Value="stock.Location" />
                            @*<SimpleTextField AuthOR="@Permissions.EditParts" Type="text" Display="Mennyiség" Name="@nameof(Stockpile.Amount)" @bind-Value="@stock.DisplayValue" />*@
                            <button>X</button>
                        </div>
                    }

                    <span>Kategória paraméterek</span>
                    @if (this.SelectedItem.Temporal.Category != null)
                    {
                        @foreach (PartParameter parameter in this.SelectedItem.Temporal.Category.DefaultParameters)
                        {
                            PartParameter temp = parameter;
                            <ParameterField ItemType="@PartParameter" AuthOR="@Permissions.EditParts" IsDefaultEditor="false" @bind-Value="temp"></ParameterField>
                        }
                    }

                    <span>Opcionális paraméterek</span>
                </div>

                <AuthorizedView NeededRolesOR="@Permissions.EditParts">
                    <button type='submit'>Küldés</button>
                </AuthorizedView>
                @if (this.PopupDisplay != "add")
                {
                    <AuthorizedView NeededRolesOR="@Permissions.DeleteParts">
                        <input type='button' class="delete" value="Törlés" @onclick="OnDefaultDeleteSubmit" />
                    </AuthorizedView>
                }
            </EditForm>
        </div>
        @if (this.DialogLoading)
        {
            <div class='loading'> </div>
        }
    </section>
}


@code
{
    protected override string BaseLink { get; set; } = "parts";
    protected override string DataName { get; set; } = "alkatrész";

    private void CategoryChanged()
    {
        this.StateHasChanged();
    }
}
