@using GanzAdmin.Authentication.Components;
@using GanzAdmin.Database.Models;

@typeparam ItemType
@inherits EditField<PartParameter>

<p>
    <label for="@this.Name">@this.Display:</label>
    <AuthorizedView NeededRolesOR="@this.AuthOR" NeededRolesAND="@this.AuthAND">
        @if (this.Value.IsSelectValue && !this.IsDefaultEditor)
        {
            <select name="@this.Name" @onchange="OnValueChanged">
                <option value="0">-</option>
                @foreach (string item in this.Value.SelectOptions)
                {
                    if (!item.Equals(this.Value.Value))
                    {
                        if (item.Equals(this.Value))
                        {
                            <option value="@item" selected>@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                }
            </select>
        }
        else
        {
            <input type="text" value="@this.Value.Value" name="@this.Name" @onchange="OnValueChanged" />
        }

        @if (this.IsDefaultEditor)
        {
            <input type="text" value="@this.Value.Unit" name='@(this.Name+"unit")' @onchange="OnValueChanged" />
        }
        else
        {
            <span>@this.Value.Unit</span>
        }

    </AuthorizedView>
    <NonAuthorizedView NeededRolesOR="@this.AuthOR" NeededRolesAND="@this.AuthAND">
        <span>@this.Value</span>
    </NonAuthorizedView>
</p>

@code
{
    [Parameter]
    public bool IsDefaultEditor { get; set; }

    [Parameter]
    public PartParameter Parameter { get; set; }


    protected override Task OnValueChanged(ChangeEventArgs e)
    {
        return this.ValueChanged.InvokeAsync((PartParameter)this.Value);
    }
}