@using GanzAdmin.Authentication.Components;

@inherits EditField<string>

<p class="@(this.Inline ? "inline" : "")">
    <label for="@this.Name">@this.Display:</label>
    <AuthorizedView NeededRolesOR="@this.AuthOR" NeededRolesAND="@this.AuthAND">
        @if (this.ImmediateChangeNotification)
        {
            <input type="@this.Type" value="@this.Value" name="@this.Name" @onchange="OnValueChanged" />

        }
        else
        {
            <input type="@this.Type" name="@this.Name" @bind-value="this.Value" />
        }
    </AuthorizedView>
    <NonAuthorizedView NeededRolesOR="@this.AuthOR" NeededRolesAND="@this.AuthAND">
        @switch (this.Type)
        {
            case "text":
                <span>@this.Value</span>
                break;
            case "password":
                <span>*********</span>
                break;
        }

    </NonAuthorizedView>
</p>

@code
{
    [Parameter]
    public bool Inline { get; set; }
}