@using GanzAdmin.Authentication.Components;

@inherits EditField<DateTime>

<p>
    <label for="@this.Name">@this.Display:</label>
    <AuthorizedView NeededRolesOR="@this.AuthOR" NeededRolesAND="@this.AuthAND">
        <input type="date" value="@this.ClientValue" name="@this.Name" @onchange="OnValueChanged" />
    </AuthorizedView>
    <NonAuthorizedView NeededRolesOR="@this.AuthOR" NeededRolesAND="@this.AuthAND">
        <span>@this.Value</span>
    </NonAuthorizedView>
</p>

@code
{
    private string ClientValue
    {
        get
        {
            return this.Value.ToString("yyyy-MM-dd");
        }
    }

    protected override Task OnValueChanged(ChangeEventArgs e)
    {
        if (string.IsNullOrEmpty((string)e.Value))
        {
            e.Value = DateTime.Today;
        }

        this.Value = DateTime.Parse(e.Value.ToString());

        return this.ValueChanged.InvokeAsync(this.Value);
    }
}