@using GanzAdmin.Authentication.Components;

@inherits EditField<bool>

<p>
    <span>@this.Display:</span>
    <AuthorizedView NeededRolesOR="@this.AuthOR" NeededRolesAND="@this.AuthAND">
        @switch (this.Type)
        {
            case "check":
                <input type="checkbox" value="@this.Value" name="@this.Name" @onchange="OnValueChanged" />
                break;
            case "switch":
                <label class="switch">
                    <input type="checkbox" value="@this.Value" name="@this.Name" @onchange="OnValueChanged" />
                    <span class="slider"></span>
                </label>
                break;
        }
    </AuthorizedView>
    <NonAuthorizedView NeededRolesOR="@this.AuthOR" NeededRolesAND="@this.AuthAND">
        <span>@this.Name : @this.Value</span><span>UNAUTH</span>
    </NonAuthorizedView>
</p>